# config.py/GROQ_KEY = 6
GROQ_API_KEY0="gsk_rL..."
..
GROQ_API_KEY5="gsk_iA..."


# config.py/GEMINI_KEY = 8
GEMINI_API_KEY0="AI..."
...
GEMINI_API_KEY7="AI..."


# config.py/CEREBRAS_KEY = 3
CEREBRAS_API_KEY0="csk-jr..."
...
CEREBRAS_API_KEY2="csk-3f..."